.rc-table {
  height: 100%;
  display: flex;
  background: #f8f8f8;
}

.rc-table .rc-table-list {
  height: 100%;
  flex: auto;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.rc-table .rc-table-scrollbar {
  height: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
}

.rc-table .rc-table-scrollbar .rc-table-scrollbar-header {
  background: #eee;
  border-bottom: 1px solid #ccc;
  flex: none;
}

.rc-table .rc-table-scrollbar .rc-table-scrollbar-footer {
  flex: none;
}

.rc-table .rc-table-column .rc-table-cell {
  padding: 0 8px;
}

.rc-table .rc-table-column .rc-table-cell.rc-table-cell-header {
  background: #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  user-select: none;
}

.rc-table .rc-table-column .rc-table-cell.rc-table-cell-selected {
  background: #d6ebdc;
}

.rc-table .rc-table-column .rc-table-cell .rc-table-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-table-sort {
  margin-left: 4px;
}

.rc-table-sort .rc-table-sort-icon {
  width: 0;
  height: 0;
  display: inline-block;
  border-color: #666;
  border-style: solid;
  border-width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.rc-table-sort .rc-table-sort-icon.rc-table-sort-asc {
  border-bottom-width: 4px;
}

.rc-table-sort .rc-table-sort-icon.rc-table-sort-desc {
  border-top-width: 4px;
}

.rc-table-sort .rc-table-sort-index {
  font-size: 12px;
}
